In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## LOAD

In [3]:
df = pd.read_csv("../data/200418COVID19MEXICO_CLEAN_S.csv")
df.head()

,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,INTUBADO,NEUMONIA,...,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,DIAS_SINTOMAS_INGRESO
0,2,9,15,1,15,15,37,2,2,1,...,2,2,2,2,2,2,2,2,1,12
1,2,12,9,1,15,9,3,1,97,2,...,2,2,2,2,1,2,2,2,2,14
2,2,9,28,2,16,28,32,1,97,2,...,2,2,2,2,2,2,2,1,1,2
3,2,12,9,2,9,9,13,1,97,2,...,2,2,2,2,2,2,2,1,3,2
4,1,3,15,2,15,15,106,1,97,2,...,2,2,2,2,1,2,2,1,3,2

In [4]:
df_copy = df.copy()

In [5]:
df_03 = pd.read_csv("../data/df_03.csv")
important = df_03[["feature", "importance"]].sort_values(by=["importance"]).head(10)

In [6]:
X = df_copy[list(important.feature.unique())]

y = df_copy[['RESULTADO']]

In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.8, random_state = 42)

In [8]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators = 100,
                           n_jobs = -1,
                           oob_score = True,
                           bootstrap = True,
                           random_state = 42)
rf.fit(X_train, y_train)

/home/vagrant/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=-1, oob_score=True,
                      random_state=42, verbose=0, warm_start=False)

In [9]:
rf.score(X_train, y_train)

0.8592810800756883

In [10]:
rf.score(X_valid, y_valid)

0.032185383881801366